.card-payment {
}

.card-payment__title {
  color: #413e3e;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  padding: 37px 0 40px 0;
}

.card-payment__wrapper {
  padding: 19px 81px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: grid;
  grid-template-columns: repeat(3, auto);
}

.card-payment__column:nth-child(1) .card-payment__text,
.card-payment__column:nth-child(2) .card-payment__text {
  padding-right: 6px;
}

.card-payment__column .card-payment__row:nth-child(2) {
  padding-top: 16px;
}

.card-payment__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-payment__column-title {
  padding: 0 8px;
  max-width: 140px;
}

.card-payment__column-title:nth-child(2),
.card-payment__text:nth-child(2) {
  padding-top: 20px;
}

.card-payment__row {
  display: flex;
  align-items: center;
}

.card-payment__text--bold {
  font-size: 16px;
  font-weight: 400;
}

.card-payment__mobile {
  display: flex;
  align-items: center;
}

.card-payment__text {
  font-size: 18px;
  word-break: break-all;
}

.card-payment__text--bold:nth-child(1) {
  padding-right: 78px;
}

.card-payment__row:nth-child(2) .card-payment__text--bold {
  padding-right: 57px;
}

.card-payment__text--bold:nth-child(3) {
  padding-right: 95px;
}

.card-payment__text--bold:nth-child(4) {
  padding-right: 95px;
}

@media (max-width: 1128px) {
  .card-payment__column:nth-child(1) .card-payment__text {
    max-width: 228px;
  }
}

@media (max-width: 1020px) {
  .card-payment__text--bold {
    font-size: 16px;
  }

  .card-payment__text {
    font-size: 18px;
  }
}

@media (max-width: 930px) {
  .card-payment__text {
    font-size: 16px;
  }
}

/* @media (max-width: 880px) {
  .card-payment__wrapper {
    display: flex;
    flex-direction: column;
  }
} */

@media (max-width: 875px) {
  .card-payment__text {
    font-size: 16px;
  }
}

@media (max-width: 687px) {
  .card-payment__text {
    font-size: 16px;
  }
}

@media (max-width: 880px) {
  .card-payment__wrapper {
    display: flex;
    flex-direction: column;
  }

  .card-payment__column-title {
    max-width: 135px;
  }

  .card-payment__column:nth-child(1) .card-payment__text {
    display: inline-flex;
    word-break: break-all;
    padding-left: 40px;
  }

  .card-payment__text--bold {
    padding: 0 !important;
  }

  .card-payment__column {
    width: 100%;
    max-width: 470px;
  }

  .card-payment__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px !important;
    padding-left: 0 !important;
  }

  .card-payment__text {
    padding-right: 0 !important;
    padding-top: 20px;
  }

  .card-payment__column-title {
    padding-top: 20px;
  }

  .card-payment__mobile:nth-child(1) .card-payment__column:nth-child(1) .card-payment__column-title:nth-child(1) {
    padding-top: 0 !important;
  }

  .card-payment__mobile:nth-child(1) .card-payment__column:nth-child(2) .card-payment__text:nth-child(1) {
    padding-top: 0 !important;
  }
}

@media (max-width: 845px) {
  .card-payment__mobile:nth-child(1) .card-payment__column:nth-child(1) .card-payment__column-title:nth-child(1) {
    margin-top: -20px !important;
  }
}

@media (max-width: 528px) {
  .card-payment__mobile:nth-child(1) .card-payment__column:nth-child(1) .card-payment__column-title:nth-child(1) {
    margin-top: -40px !important;
  }
}

@media (max-width: 420px) {
  .card-payment__text {
    font-size: 14px;
  }

  .card-payment__text--bold {
    padding-right: 46px !important;
    max-width: min-content !important;
  }

  .card-payment__wrapper {
    padding: 19px 41px;
  }

  @media (max-width: 420px) {
    .card-payment__mobile:nth-child(1) .card-payment__column:nth-child(1) .card-payment__column-title:nth-child(1) {
      margin-top: -18px !important;
    }
  }

  @media (max-width: 400px) {
    .card-payment__mobile:nth-child(1) .card-payment__column:nth-child(1) .card-payment__column-title:nth-child(1) {
      margin-top: -35px !important;
    }
  }
}
