.card-payer {
}

.card-payer__title {
  color: #413e3e;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  padding: 63px 0 40px 0;
}

.card-payer__wrapper {
}

.card-payer__form-body {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 55px;
  row-gap: 32px;
}

.card-payer__input {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  height: 40px;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
}

.card-payer__select {
  font-size: 18px;
  height: 48px;
  font-size: 16px;
}

.card-payer__button {
  margin-top: 47px;
  padding: 13px 145px;
  font-size: 18px;
  height: 40px;
}

@media (max-height: 820px) {
  .card-payer__form-body {
    row-gap: 25px;
  }
}

@media (max-width: 1020px) {
  .card-payer__input {
    font-size: 15px;
  }

  .card-payer__select {
    font-size: 15px;
  }
}

@media (max-width: 880px) {
  .card-payer__form-body {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 643px) {
  .card-payer__form-body {
    grid-template-columns: repeat(1, auto);
  }

  .card-payer__button {
    width: 100%;
    font-size: 16px;
    padding: 0;
  }
}
