.card-payment {
}

.card-payment__title {
  color: #413e3e;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  padding: 37px 0 40px 0;
}

.card-payment__wrapper {
  padding: 19px 81px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-payment__column {
}

.card-payment__row {
  display: flex;
  align-items: center;
}

.card-payment__text--bold {
  font-size: 16px;
  font-weight: 400;
  max-width: min-content;
}

.card-payment__text {
  font-size: 18px;
}

.card-payment__text--bold:nth-child(1) {
  padding-right: 78px;
}

.card-payment__text--bold:nth-child(2) {
  padding-right: 57px;
}

.card-payment__text--bold:nth-child(3) {
  padding-right: 95px;
}

.card-payment__text--bold:nth-child(4) {
  padding-right: 95px;
}

@media (max-width: 1020px) {
  .card-payment__text--bold {
    font-size: 16px;
  }

  .card-payment__text {
    font-size: 18px;
  }
}

@media (max-width: 687px) {
  .card-payment__text {
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  .card-payment__wrapper {
    flex-direction: column;
    align-items: baseline;
  }

  .card-payment__text--bold {
    max-width: 161px !important;
    padding: 0 !important;
    padding-right: 96px !important;
  }

  .card-payment__column + .card-payment__column {
    padding-top: 40px;
  }
}

@media (max-width: 420px) {
  .card-payment__text {
    font-size: 14px;
  }

  .card-payment__text--bold {
    padding-right: 46px !important;
    max-width: min-content !important;
  }
}
