.header {
  background-color: #ffff;
  padding: 31px 70px 26px 70px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.11);
}

.header__body {
  display: flex;
  align-items: center;
}

.header__button {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  height: auto;
}

.header__button .select__text {
  padding: 0;
}

.header__button .select__text {
  width: 109px;
  justify-content: space-evenly;
}

.header__button .select__text span {
  margin: 0;
}

.header__title {
  display: flex;
  margin: 0 auto;
  position: relative;
  right: calc(163px / 2);
}

.header__icon {
}

.header__button .select__list--contained {
  top: 75px;
}

.header__title-text {
  font-weight: bold;
  padding-left: 8px;
  max-width: 45px;
  font-size: 18px;
}

@media (max-width: 800px) {
  .header__title {
    right: 0;
  }
}

@media (max-width: 550px) {
  .header__title svg {
    width: 80%;
  }

  .header__button {
    width: 70px;
  }

  .header__button .select__text {
    width: auto;
  }

  .header__button svg:nth-child(2) {
    display: none;
  }

  .header__button .select__list--contained {
    top: 75px;
  }

  .select__list--contained span {
    padding-right: 8px;
  }

  .language svg {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .header__button {
    margin-right: 15px;

    font-size: 12px;
    padding: 6px 12px;
  }

  .header__button .select__list--contained {
    top: 65px;
  }
}
